---
# roles/bdd/tasks/psycopg2.yml

# -------------------------------------------------------
# 1. Installer les dépendances nécessaires
# -------------------------------------------------------
- name: Install build dependencies (Debian/Ubuntu)
  apt:
    name:
      - python3-dev
      - libpq-dev
      - build-essential
      - pkg-config
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install build dependencies (RedHat/CentOS/Rocky)
  yum:
    name:
      - python3-devel
      - postgresql-devel
      - gcc
      - make
    state: present
  when: ansible_os_family == "RedHat"


# -------------------------------------------------------
# 2. Installer pip si absent
# -------------------------------------------------------
- name: Ensure pip is installed
  package:
    name: python3-pip
    state: present


# -------------------------------------------------------
# 3. Forcer une version pré-compilée de psycopg2-binary
# -------------------------------------------------------
- name: Install psycopg2 from pip (binary)
  pip:
    name: psycopg2-binary==2.9.9
    state: present