---
# roles/bdd/tasks/psycopg2.yml

- name: Install psycopg2 on Debian/Ubuntu
  ansible.builtin.apt:
    name: python3-psycopg2
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install psycopg2 on RedHat family
  ansible.builtin.yum:
    name: python3-psycopg2
    state: present
  when: ansible_os_family == "RedHat"

- name: Install pip
  ansible.builtin.package:
    name: python3-pip
    state: present

- name: Install psycopg2 via pip fallback
  ansible.builtin.pip:
    name: psycopg2-binary
    state: present