[defaults]
verbosity = 3
remote_user = vagrant
private_key_file = ~/.ssh/id_peoservices
interpreter_python = /usr/bin/python3
host_key_checking = False
collections_paths = /usr/lib/python3/dist-packages/ansible_collections:/var/jenkins_home/.ansible/collections/ansible_collections