---

- name: Dépot de la clé privée SSH pour Git
  copy:
    content: "{{ git_token }}" # contenu de la clé privée SSH dans la variable git_token dans vault.yml
    dest: "{{ git.key_file }}"
    mode: '0600'
    remote_src: true

- name: Clonage du repository Gutenify-Lynx
  git:
    repo: "{{ git.repo_url }}"
    dest: "{{ git.dest }}"
    version: "{{ git.version }}"
    key_file: "{{ git.key_file }}"   # chemin vers la clé privée SSH
    accept_hostkey: yes
    update: yes
