---

- name: Clonage du repository Gutenify-Lynx
  git:
    repo: "{{ git.repo_url }}"
    dest: "{{ git.dest }}"
    version: "{{ git.version }}"
    key_file: "{{ git.key_file }}"   # chemin vers la clé privée SSH
    accept_hostkey: yes
    update: yes
