- name: Vérification du statut du conteneur
  docker_container_info:
    name: portfolio
  register: container_info
  ignore_errors: true

- name: Arrêter et supprimer le conteneur existant s'il est en cours d'exécution
  docker_container:
    name: portfolio
    state: absent
  when: container_info.container.State.Running 

- name: Deploy container 
  docker_container:
    name: portfolio
    image: lidobel3/portfolio
    state: started
    published_ports:
      - 80:80
      - 443:443
    mounts:
      - type: bind 
        source: "{{ user.home }}/{{ user.project}}/ssl/privkey.pem"
        target: "/etc/nginx/ssl/privkey.pem"
      - type: bind
        source: "{{ user.home }}/{{ user.project}}/ssl/fullchain.pem"
        target: "/etc/nginx/ssl/fullchain.pem"
      - type: bind
        source: "{{ user.home }}/{{ user.project}}/"
        target: "/usr/share/nginx/html/"
      - type: bind
        source: "{{ user.home }}/{{ user.project}}/nginx.conf"
        target: "/etc/nginx/nginx.conf"
  become: true

      