
- name: Deploy container 
  docker_container:
    name: mon_portfolio
    image: lidobel3/portfolio
    state: started
    published_ports:
      - 80:80
      - 443:443
    mounts:
      - type: bind 
        source: "{{ user.home }}/{{ user.project}}/ssl/privkey.pem"
        target: "/etc/nginx/ssl/privkey.pem"
      - type: bind
        source: "{{ user.home }}/{{ user.project}}/ssl/fullchain.pem"
        target: "/etc/nginx/ssl/fullchain.pem"
      - type: bind
        source: "{{ user.home }}/{{ user.project}}/"
        target: "/usr/share/nginx/html/"
      - type: bind
        source: "{{ user.home }}/{{ user.project}}/nginx.conf"
        target: "/etc/nginx/nginx.conf"
  become: true

      