- name: Deploy container 
  docker_container:
    name: mon_portfolio
    image: lidobel3/portfolio
    state: present
    published_ports:
      - 80:80
      - 443:443
    mounts:
      - type: bind 
        source: "/home/terraform-user/gutenify-lynx/ssl/privkey.pem"
        target:
      - type:
        source:
        target:
      - type:
        source:
        target:
  become: true