global:
  resolve_timeout: 5m
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_from: 'belcorpaws1234@gmail.com'
  smtp_auth_username: 'belcorpaws1234@gmail.com'
  smtp_auth_password: '{{ GMAIL_APP_PASSWORD }}'
  smtp_require_tls: true

route:
  group_by: ['alertname', 'cluster', 'service']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 12h
  receiver: 'default'

receivers:
  - name: 'default'
    email_configs:
      - to: '{{ alertmanager_email_to }}'
        from: '{{ alertmanager_email_from }}'
        {# smarthost: 'localhost:25' #}
        send_resolved: true
{% if alertmanager_slack_webhook %}
    slack_configs:
      - api_url: '{{ alertmanager_slack_webhook }}'
        channel: '#alerts'
        title: 'Alerte Prometheus'
{% endif %}

inhibit_rules:
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal: ['alertname', 'cluster', 'service']