[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
ExecStart={{ node_exporter_bin }} \
  --web.listen-address=:{{ node_exporter_port }} \
  --collector.systemd \
  --collector.filesystem.ignored-mount-points="^/(sys|proc|dev|host|etc)($|/)"
Restart=always
RestartSec=3
LimitNOFILE=65536
LimitNPROC=65536
ReadWritePaths=/proc /sys

[Install]
WantedBy=multi-user.target
